@font-face {
	font-family: 'iconfont';
	/* project id 2124444 */
	src: url('https://at.alicdn.com/t/font_2124444_7n480eyye5h.eot');
	src: url('https://at.alicdn.com/t/font_2124444_7n480eyye5h.eot?#iefix') format('embedded-opentype'),
		url('https://at.alicdn.com/t/font_2124444_7n480eyye5h.woff2') format('woff2'),
		url('https://at.alicdn.com/t/font_2124444_7n480eyye5h.woff') format('woff'),
		url('https://at.alicdn.com/t/font_2124444_7n480eyye5h.ttf') format('truetype'),
		url('https://at.alicdn.com/t/font_2124444_7n480eyye5h.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconzichan:before {
	content: "\e93e";
}

.iconhtmal5icon24:before {
	content: "\e63c";
}

.iconliebiao:before {
	content: "\e61b";
}

.iconshoucang:before {
	content: "\e637";
}

.iconduihuanqingkuang:before {
	content: "\e708";
}

.iconKxiantu:before {
	content: "\e666";
}

.iconweb__bitebiyoujiantou:before {
	content: "\e62f";
}

.iconKxiantu1:before {
	content: "\e61c";
}

.iconhangqing:before {
	content: "\e6a9";
}

.iconjiaoyi:before {
	content: "\e616";
}

.iconshouye:before {
	content: "\e659";
}

.iconshezhi:before {
	content: "\e611";
}

.iconfuzhi:before {
	content: "\e63e";
}

.iconbiaoqiankuozhan_jiaoyi-179:before {
	content: "\eb2b";
}

.icon{
	font-size:40upx;
	color: #707070;
	padding: 0 0.25rem;
}